/* buttons */
.button {
  font-weight: 700;
  /* outline: none !important; */
  /* outline: 1px solid rgb(4, 0, 255) !important; */
  border: none;
  border-radius: 3px;
  padding: 0.5em 1em;
  cursor: pointer;
}

.button:focus {
  outline-color: #00b3ff !important;
}

.normal {
  background-color: #313131;
  color: white;
  transition: 0.2s;
}

.normal:hover {
  background-color: #181818;
}

.normal:active {
  background-color: #000000 !important;
  outline-color: #2d2d2d !important;
}

.cancel-fp {
  background-color: rgb(239, 239, 239);
  transition: 0.2s;
  color: rgb(46, 46, 46);
}

.cancel-fp:hover {
  background-color: rgb(229, 229, 229);
  color: rgb(46, 46, 46);
}

.register-link-login {
  cursor: pointer;
  text-decoration: underline !important;
  transition: 0.1s ease;
}

.register-link-login:hover {
  color: gray !important;
}