/* buttons */
.button {
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: 0.5em 1em;
  cursor: pointer;
}

.button:focus {
  outline-color: #00b3ff !important;
}

.normal {
  background-color: #313131;
  color: white;
  transition: 0.2s;
}

.normal:hover {
  background-color: #181818;
}

.normal:active {
  background-color: #000000 !important;
  outline-color: #2d2d2d !important;
}

.cancel-fp {
  background-color: rgb(239, 239, 239);
  transition: 0.2s;
  color: rgb(46, 46, 46);
}

.cancel-fp:hover {
  background-color: rgb(229, 229, 229);
  color: rgb(46, 46, 46);
}

.confirm-news-button{
  font-weight: 700;
  /* border: none; */
  border: 1px solid rgb(235, 235, 235);
  border-radius: 3px;
  font-size: 0.85em;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: 0.15s;
}
.confirm-news-button:hover{
  cursor: pointer;
  background-color: rgb(246, 246, 246);
  border: 1px solid rgb(214, 214, 214);
  outline: none;
}
.confirm-news-button:focus {
  outline-color: #e4e4e4 !important;
}
.small-button:focus {
  outline-color: #e4e4e4 !important;
}

.register-link-login {
  cursor: pointer;
  text-decoration: underline !important;
  transition: 0.1s ease;
}

.register-link-login:hover {
  color: gray !important;
}


.custom-confirm-button {
  background-color: black; 
  color: white; 
  border: none; 
  width: 12em;
  font-size: 0.9em !important;
}
.custom-confirm-button:hover {
  background-color: #333; 
}
.custom-cancel-button {
  font-size: 0.9em !important;
}