/* buttons */
.button {
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: 0.5em 1em;
  cursor: pointer;
}

.button:focus {
  outline-color: #00b3ff !important;
}

.normal {
  background-color: #313131;
  color: white;
  transition: 0.2s;
}

.normal:hover {
  background-color: #181818;
}

.normal:active {
  background-color: #000000 !important;
  outline-color: #2d2d2d !important;
}

.cancel-fp {
  background-color: rgb(239, 239, 239);
  transition: 0.2s;
  color: rgb(46, 46, 46);
}

.cancel-fp:hover {
  background-color: rgb(229, 229, 229);
  color: rgb(46, 46, 46);
}

.activate-account-button{
  border: 1px solid rgb(162, 162, 162);
  transition: 0.2s;
}
.activate-account-button:hover{
  background-color: rgb(229, 229, 229);
}

.confirm-news-button{
  font-weight: 700;
  /* border: none; */
  border: 1px solid rgb(235, 235, 235);
  border-radius: 3px;
  font-size: 0.85em;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: 0.15s;
}
.confirm-news-button:hover{
  cursor: pointer;
  background-color: rgb(246, 246, 246);
  border: 1px solid rgb(214, 214, 214);
  outline: none;
}
.confirm-news-button:focus {
  outline-color: #e4e4e4 !important;
}
.small-button:focus {
  outline-color: #e4e4e4 !important;
}

.register-link-login {
  cursor: pointer;
  text-decoration: underline !important;
  transition: 0.1s ease;
}

.register-link-login:hover {
  color: gray !important;
}


.custom-confirm-button {
  background-color: black; 
  color: white; 
  border: none; 
  width: 12em;
  font-size: 0.9em !important;
}
.custom-confirm-button:hover {
  background-color: #333; 
}
.custom-cancel-button {
  font-size: 0.9em !important;
}


.download-file-button{
  height: 2em;
  width: 2.5em;
  color: rgb(0, 0, 0);
  background-color: inherit;
  border: 1px solid rgb(237, 237, 237);
  font-size: 0.9em;
  border-radius: 2px;
  padding: 0.1em 0.6em;
  transition: 0.1s;
}
.download-file-button:hover{
  background-color: rgb(247, 247, 247);
  border: 1px solid rgb(159, 159, 159);
}
.download-file-button:focus{
  outline: 1px solid rgb(65, 65, 65);
}
.view-file-button{
  height: 2em;
  width: 6em;
  color: rgb(0, 0, 0);
  background-color: inherit;
  border: 1px solid rgb(237, 237, 237);
  font-size: 0.9em;
  border-radius: 2px;
  padding: 0.1em 0.6em;
  transition: 0.1s;
}
.view-file-button:hover{
  background-color: rgb(247, 247, 247);
  border: 1px solid rgb(159, 159, 159);
}
.view-file-button:focus{
  outline: 1px solid rgb(65, 65, 65);
}

.index-swal-fire-button {
  background-color: black !important; 
  color: white !important;          
  border: none !important;          
  padding: 10px 20px !important;    
  font-size: 1em !important;        
  border-radius: 5px !important;    
  cursor: pointer !important;      
}
.index-swal-fire-button:hover {
  background-color: #333 !important; 
}
.index-swal-fire-button:focus {
  outline: none;
}
