/* Components */

.feedback-message {
  z-index: 40;
  position: fixed;
  bottom: 1em;
  left: -50%;
  background-color: rgba(38, 38, 38, 0.9);
  border-radius: 7px;
  font-weight: 700;
  font-size: 0.9em;
  color: rgb(234, 234, 234) !important;
  padding: 0.8em 2em 0.1em 2em;
  transition: left 0.5s ease, opacity 1s ease; 
  opacity: 0; 
}

.show-feedback-message {
  left: 1em; 
  opacity: 1;
}


/* SWEET ALERT STYLING */
.my-custom-title {
  font-size: 1.2em !important; 
}

.my-custom-confirm-button {
  font-size: 0.9em !important;
   background-color: black !important;
}
.my-custom-content {
  font-size: 1em !important; 
  color: #ff0000 !important; 
  line-height: 1.5 !important;
}
