/* main css */


/* WRAPPERS */

.index-wrapper, .home-wrapper{
  padding: 0 0 5em 0;
}

.index-wrapper h1, .home-wrapper h1{
  color: #005670;
  font-size: 1.8em;
}



/* HOME */
.home-wrapper textarea, .home-wrapper input{
  border-radius: 5px;
  border: 1px solid rgb(128, 128, 128, 0.5);
  padding: 0.4em;
  margin: 0.1em;
  background-color: #efefef;
}



/* Table Styles */
.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .user-table th,
  .user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .user-table th {
    background-color: #f2f2f2;
  }
  
  .user-table tbody tr {
    background-color: #f2f2f2;
    transition: 0.1s;
  }
  .user-table tbody tr:hover {
    background-color: #e6eef1;
  }
  
  /* .user-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  } */
  
  /* .user-table tbody tr:hover {
    background-color: #f1f1f1;
  }
   */