/* main css */
.page-loading-login {
  text-align: center;
  margin-left: 3em;
  padding-top: 10em;
  font-weight: 700;
  margin-right: 14%;
}

.loading-bar-container-login {
  text-align: center;
  width: 30vh;
  height: 4px;
  background-color: #e0e0e0;
  margin-left: 30%;
}

.loading-bar-login {
  text-align: center;
  height: 100%;
  width: 10%;
  background-color: #242424;
  transition: width 2s ease;
  animation: fillLoadingBar 2.5s linear;
}

.spinning-logo-login {
  text-align: center;
  margin-bottom: 2em;
}

.spinning-logo-login img {
  width: 3.5em;
  justify-content: center;
  text-align: center;
  margin: 8em 0 1em 0;
  animation: spin 2.5s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    /* Start rotation from 0 degrees */
  }

  25% {
    transform: rotate(90deg);
    /* Rotate 1 quarter (90 degrees) */
  }

  50% {
    transform: rotate(180deg);
    /* Rotate 2 quarters (180 degrees) */
  }

  75% {
    transform: rotate(270deg);
    /* Rotate 3 quarters (270 degrees) */
  }

  100% {
    transform: rotate(360deg);
    /* End rotation at 360 degrees (full circle) */
  }
}


/* WRAPPERS */



/* LOGIN_WINDOW */

.login_window-wrapper {
  background-color: rgb(248, 248, 248);
  justify-content: center;
  height: 100vh;
}

.login_window-content {
  padding: 3em;
  text-align: center;
}

.form-input-field-login {
  width: 100%;
  height: 2.6em;
  padding: 0.4em;
  margin-bottom: 0.4em;
  border-radius: 5px;
  background-color: rgb(244, 244, 244);
  border: 1px solid rgb(155, 155, 155);
  outline: none;
  font-size: 0.95em;
}

.form-input-field-login:focus {
  border-color: #343434;
}

.form-input-field-login::placeholder {
  color: rgb(168, 168, 168);
  font-size: 0.85em;
}

/* INDEX */
.index-wrapper {
  padding: 0 0 0 0;
}

.index-box-left {
  background-color: #F1F1F1;
  width: 40% !important;
  height: 100vh;
}

.index-box-right {
  background-color: white;
  width: 50% !important;
  height: 100vh;
  padding-top: 1em;
}

.avatar-container {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 15px;
  background-color: #2b2b2b;
}

.profile-picture {
  width: 100%;
  height: auto;
  display: block;
}

.index-box {
  margin: 2em 4em;
  font-size: 0.8em;
}

.index-title {
  color: white;
  font-size: 1em;
  width: fit-content;
  padding: 0.2em 0.6em;
  border-radius: 5px;
}

.one {
  background-color: #00c9a4;
}

.two {
  background-color: #ff4d4d;
}

.three {
  background-color: #0091D0;
}

.hr {
  background-color: rgb(243, 243, 243);
}


/* HOME */

.home-wrapper {
  padding: 0 0 5em 0;
}


.home-wrapper textarea,
.home-wrapper input {
  border-radius: 5px;
  border: 1px solid rgb(128, 128, 128, 0.5);
  padding: 0.4em;
  margin: 0.1em;
  background-color: #efefef;
}


/* Table Styles */
/* .user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.user-table th,
.user-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.user-table th {
  background-color: #f2f2f2;
}

.user-table tbody tr {
  background-color: #f2f2f2;
  transition: 0.1s;
}

.user-table tbody tr:hover {
  background-color: #e6eef1;
} */




/* ADD GROUP */

/* form */
/* .custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 22px;
  height: 22px;
  border: 2px solid #333;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.custom-checkbox:checked {
  background-color: #333333;
}

.custom-checkbox:checked::before {
  content: '\2713';
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 20.8px;
  color: #fff;
} */