/* sidemenu_small css */

.sidemenu_small {
    position: fixed;
    top: 0;
    right: 0 !important;
    width: 2.5em;
    height: 100vh;
    background-color: #232323;
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: auto;
}

.link-box-small {
    margin-bottom: 1.5em;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.link-box-small:hover {
    color: rgb(178, 178, 178);
}

.menu-small {
    list-style-type: none;
    padding: 2em 0;
    margin-left: 0.5em;
}

.icons {
    font-size: 1.4em;
}