/* COMPONENTS FILETRANSFER CSS */


/* SIDEMENU */

.sidemenu-filetransfer {
    position: fixed;
    top: 0;
    left: 0;
    width: 7em;
    height: 100vh;
    background-color: #ff6262 !important;
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 5;
    overflow-y: auto;
}

.sidemenu-filetransfer .link-box a {
    color: white;
    transition: 0.2s ease;
}

.sidemenu-filetransfer .link-box a:focus {
    outline-color: #00b3ff !important;
}



.logo-spin img {
    animation: rotate 60s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


/* LOADING BAR */
.loadingbar-filetransfer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 13em;
    padding: 2em 1em 4em 5em;
    background-color: rgba(255, 255, 255) !important;
    color: rgb(43, 43, 43);
    box-shadow: 2px -1px 10px rgba(0, 0, 0, 0.4);
    z-index: 1;
    overflow-y: auto !important; 
    border-top: 2px solid rgb(175, 175, 175);
    transition: bottom 0.2s ease-in-out; 
}
.loadingbar-filetransfer-minimized{
    position: fixed;
    bottom: -11.5em; 
    left: 0;
    width: 100%;
    height: 13em;
    transition: bottom 0.2s ease-in-out; 
}
.loadingbar-filetransfer::-webkit-scrollbar {
    display: block !important;
    width: 10px;
    height: 8px;
}

.fileuploadspinner {
    transition: bottom 0.2s ease-in-out;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.tailspin{
    color: rgb(114, 81, 81);
    padding-left:50% ;
}
  

/* Progress bar (percentage) */
.progress-container {
    margin-top: 1.5em;
    width: 30% !important;
    /* margin: auto; */
  }
  .progress-bar {
    height: 0.3em !important;
    border-radius: 50px !important;
    background-color: #f3f3f3;
    appearance: none;
  }
  .progress-bar::-webkit-progress-bar {
    background-color: #f3f3f3;
    border-radius: 50px !important;
  }
  .progress-bar::-webkit-progress-value {
    background-color: #ff5858; 
    border-radius: 50px !important;
  }
