/* COMPONENTS FILETRANSFER CSS */


/* SIDEMENU */

.sidemenu-filetransfer {
    position: fixed;
    top: 0;
    left: 0;
    width: 7em;
    height: 100vh;
    background-color: #ff1f1fd8 !important;
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 5;
    overflow-y: auto;
}

.sidemenu-filetransfer .link-box a {
    color: white;
    transition: 0.2s ease;
}

.sidemenu-filetransfer .link-box a:focus {
    outline-color: #00b3ff !important;
}



.logo-spin img {
    animation: rotate 60s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



/* LOADING BAR */
.loadingbar-filetransfer{
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 10em;
    height: 9em;
    border-top-left-radius: 10px;
    padding: 0.5em 1.5em ;
    background-color: #eaeaead8 !important;
    color: rgb(43, 43, 43);
    /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); */
    z-index: 5;
    overflow-y: auto;
}
.tailspin{
    color: rgb(114, 81, 81);
    margin: 0.6em 0 0 2.2em;;
  }
  