/* main_filetransfer css */


/* GENERAL - FILETRASNFER */

.filetransfer-wrapper {
    padding: 6em 0 6em 0;
    color: #323232;
}

.filetransfer-wrapper .header {
    width: 85%;
}

.filetransfer-wrapper .header h4 {
    font-weight: 700;
}

.filetransfer-wrapper .header h5 {
    font-weight: 700;
}

.filetransfer-wrapper .header p {
    font-size: 0.9em;
}

.title-img {
    width: 1em;
    margin-right: 0.4em;
    margin-top: -0.2em;
}

.form-input-field-ft:focus {
    border-color: #767676;
}




/* HOME */


/* loading bar */
.loading-bar-container {
    text-align: center;
    /* margin-top: 20em; */
    width: 30vh;
    height: 4px;
    background-color: #e0e0e0;
    margin-left: 30%;
}

.loading-bar-ft {
    text-align: center;
    height: 100%;
    width: 10%;
    background-color: #ff1f1fd8;
    transition: width 2s ease;
    animation: fillLoadingBar 2s linear;
}

.loading-bar-text {
    text-align: center;
    margin-top: 10em;
    width: 30vh;
    height: 4px;
    margin-left: 30%;
    padding-bottom: 3em;
}

@keyframes fillLoadingBar {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

/* Custom styles for the SweetAlert2 modal */
.custom-popup {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 0 0 2em 0;
}
  
.custom-title {
    color: #383838;
    font-size: 1.4em;
}



  

/* HISTORY */

.filetransfer-history-box {
    background-color: rgb(245, 245, 245);
    color: #323232 !important;
    padding: 1.2em 1em 0.5em 1em;
    height: fit-content;
    border-radius: 5px;
    width: 90vh;
    font-size: 0.8em !important;
}