/* buttons timreport */

.change-month-button{
    font-size: 1.2em;
    background-color: inherit;
    border-radius: 50%;
    padding: 0.2em 0.4em;
    transition: 0.1s;
    cursor: pointer;
}
.change-month-button:hover{
    background-color: #c7c7c7;
}


.complete-project-button{
    color: #ffffff;
    background-color: #A74FFF;
    border: 1px solid #A74FFF;
    width: 2em;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.1s;
}
.complete-project-button:hover{
    color: #A74FFF;
    background-color: rgb(246, 246, 246);
    border-radius: 3px;
}
.complete-project-button:focus{
    border: 1px solid #A74FFF !important;
    outline: none !important;
}
.open-project-button{
    color: #262626;
    background-color: #fff;
    border: 1px solid #262626 !important;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.1s;
}
.open-project-button:hover{
    color: rgb(255, 255, 255);
    background-color: #A74FFF;
    border: 1px solid #A74FFF !important;
    border-radius: 3px;
}
.open-project-button:focus{
    border: 1px solid #262626 !important;
    outline: none !important;
}
.locked-project-button{
    color: #fff;
    background-color: #262626;
    border: 1px solid #262626;
    border-radius: 3px;
    cursor: not-allowed;
}
.locked-project-button:hover{
    color: #fff;
    background-color: #262626;
    border: 1px solid #262626;
    border-radius: 3px;
    cursor: not-allowed;
}


.disable-button{
    cursor: not-allowed;
    color: #A74FFF;
    background-color: white;
    border: 1px solid #A74FFF;
    border: 1px solid #A74FFF;
}
.disable-button:hover{
    background-color: white;
    border: 1px solid #A74FFF;
    border: 1px solid #A74FFF;
}

.add-new-tr-button{
    font-weight: 900;
    font-size: 0.8em;
    padding: 0.3em 0.6em;
    color: #A74FFF;
    border: 1px solid #A74FFF;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.1s;
    background-color: white;
}
.add-new-tr-button:hover{
    background-color: rgb(246, 246, 246);
}

.complete-month-button{
    font-size: 0.9em;
    color: white;
    background-color: #262626;
    border: 1px solid #262626 !important;
    float: right;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
}
.complete-month-button:hover{
    color:#fff;
    background-color: #000000;
    border: 1px solid #262626 !important;
}
.complete-month-button-disable{
    cursor: not-allowed !important;
    color: #262626;
    background-color: #fff;
    border: 1px solid #262626 !important;
    opacity: 0.4;
}
.complete-month-button-disable:hover{
    cursor: not-allowed !important;
    color: #262626;
    background-color: #fff;
    border: 1px solid #262626 !important;
}
.complete-month-button-disable:focus{
  outline: #A74FFF;
}

.complete-activity-button{
    background-color: #A74FFF;
    border: 1px solid #A74FFF !important;
    transition: 0.1s;
}
.complete-activity-button:hover{
    color: #A74FFF;
    background-color: #ffffff;
    border: 1px solid #A74FFF;
}