/* button_backuptransfer.css */



.upload-bt {
    background-color: rgb(41, 41, 41);
    transition: 0.2s;
    color: white;
}

.upload-bt:hover {
    background-color: rgb(0, 0, 0);
}

.upload-bt:active {
    background-color: #000000 !important;
    outline-color: #2d2d2d !important;
}

.delete-bt{
    border: none;
    background-color: inherit;
    cursor: pointer;
    transition: 0.2s;
}
.delete-bt:hover{
    border: none;
    color: red;
    /* color:rgb(49, 49, 49); */
}

.cancel-upload-bt{
    border-radius: 2px;
    padding: 0.2em 0.6em;
    font-size: 0.75em;
    color: white;
    background-color: rgb(204, 0, 0);
    border: none;
    transition: 0.2s;
}
.cancel-upload-bt:hover{
    background-color: red;
    cursor: pointer;
}

.custom-confirm-button {
    background-color: rgb(41, 41, 41) !important;
    transition: 0.2s;
    color: white;
    box-shadow: none !important;
    width: 8em;
  }
  
  .custom-confirm-button:hover {
    background-color: #4f4f4f !important;
  }

  .minimizeloadingbar-button{
    position: fixed; 
    bottom: 13.5em; 
    left: 9.5em;
    border: 1px solid rgb(224, 224, 224);
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    transition: bottom 0.2s ease-in-out; 
  }
  .minimizeloadingbar-button:hover{
    background-color: rgb(244, 244, 244);
    border: 1px solid rgb(206, 206, 206);
  }
  .minimizeloadingbar-button:focus{
    outline: none;
  }
  .minimizeloadingbar-minimized-button{
    position: fixed; 
    bottom: 2em; 
    left: 9.5em;
    border: 1px solid rgb(224, 224, 224);
    background-color: white;
    border-radius: 30px;
    cursor: pointer;
    transition: bottom 0.2s ease-in-out; 
  }