/* button teamleader */



.cancel {
    background-color: rgb(41, 41, 41);
    transition: 0.2s;
    color: white;
}

.cancel:hover {
    background-color: rgb(0, 0, 0);
}

.cancel:active {
    background-color: #000000 !important;
    outline-color: #2d2d2d !important;
}

.delete {
    background-color: red;
    transition: 0.2s;
    color: white;
}

.delete:hover {
    background-color: rgb(206, 0, 0);
}

.normal:active {
    background-color: rgb(206, 0, 0) !important;
    outline-color: #2d2d2d !important;
}

.close {
    background-color: inherit;
    color: black !important;
    /* outline: none !important; */
    /* border: none !important; */
}

.standard {
    background-color: #00b3ff;
    color: white;
    transition: 0.2s;
}

.standard:hover {
    background-color: #0196d5;
}

.normal:active {
    background-color: #0196d5 !important;
    outline-color: #2d2d2d !important;
}

.fixed-width {
    width: 11em !important;
}

.fixed-height {
    height: 3em !important;
}