/* button teamleader */



.cancel {
    background-color: rgb(41, 41, 41);
    transition: 0.2s;
    color: white;
}

.cancel:hover {
    background-color: rgb(0, 0, 0);
}

.cancel:active {
    background-color: #000000 !important;
    outline-color: #2d2d2d !important;
}

.delete {
    background-color: red;
    transition: 0.2s;
    color: white;
}

.delete:hover {
    background-color: rgb(206, 0, 0);
}

.normal:active {
    background-color: rgb(206, 0, 0) !important;
    outline-color: #2d2d2d !important;
}

.close {
    background-color: inherit;
    color: black !important;
    padding: 0 0.3em !important;
    transition: 0.1s;
}
.close:hover {
    padding: 0 0.3em !important;
    border-radius: 50%;
    background-color: rgb(215, 215, 215);
}
.close:focus {
    outline: none;
}

.close-circle {
    background-color: inherit;
    color: black !important;
    padding: 0.2em 0.4em;
    cursor: pointer;
    transition: 0.2s;
}
.close-circle:hover {
    background-color: rgb(222, 222, 222);
    border-radius: 30px;
}

.standard {
    background-color: #00b3ff;
    color: white;
    transition: 0.2s;
}

.standard:hover {
    background-color: #0196d5;
}

.normal:active {
    background-color: #0196d5 !important;
    outline-color: #2d2d2d !important;
}

.fixed-width {
    width: 11em !important;
}

.fixed-height {
    height: 3em !important;
}
