/* button teamleader */

.button {
    font-weight: 700;
    outline: none !important;
    border: none !important;
    border-radius: 3px;
    padding: 0.5em 1em;
    cursor: pointer;
}

.cancel {
    background-color: rgb(36, 36, 36);
    transition: 0.2s;
    color: white;
}

.cancel:hover {
    background-color: rgb(0, 0, 0);
}

.standard {
    background-color: #00b3ff;
    color: white;
    transition: 0.2s;
}

.standard:hover {
    background-color: #0196d5;
}

.fixed-width{
    width: 11em !important;
}

.fixed-height{
    height: 3em !important;
}

.danger {}