/* COMPENNTES CSS */


/* SIDEMENU */

.sidemenu-teamleader {
    position: fixed;
    top: 0;
    left: 0;
    width: 7em;
    height: 100vh;
    background-color: #00b3ff !important;
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 5;
    overflow-y: auto;
}

.sidemenu-teamleader .link-box a {
    color: white;
    transition: 0.2s ease;
}

.sidemenu-teamleader .link-box a:focus {
    outline-color: #00b3ff !important;
}



.logo img {
    animation: rotate 60s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



/* MINI MENU */

.minimenu-teamleader {
    position: fixed;
    right: 0;
    top: 0;
    /* height: 100vh; */
    padding-top: 1em !important;
    width: 4em !important;
    border: none !important;
    box-shadow: none;
    outline: white;
    z-index: 5;
}

.minimenu-teamleader h1 {
    /* text-decoration: none; */
    color: rgb(6, 6, 6);
    transition: 0.2s ease;
}

.minimenu-button {
    /* margin-bottom: 10% !important; */
    margin-top: 0.5em;
    background-color: #00b3ff;
    border-radius: 50%;
    border: none;
    color: white;
    width: 2.5em;
    height: 2.5em;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
}

.minimenu-button:hover {
    background-color: rgb(68, 68, 68);
    border: 2px solid #00b3ff;

}

.minimenu-button:focus {
    outline-color: #00b3ff !important;
}

.minimenu-delete-button {
    /* margin-bottom: 10% !important; */
    margin-top: 0.5em;
    background-color: #ff6262;
    border-radius: 50%;
    border: none;
    color: white;
    width: 2.5em;
    height: 2.5em;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
}

.minimenu-delete-button:hover {
    background-color: rgb(68, 68, 68);;
    border: 2px solid #ff6262;
}

.minimenu-delete-button:focus {
    outline-color: #00b3ff !important;
}

.button-title {
    visibility: hidden;
    position: absolute;
    font-size: 0.9em;
    background-color: rgb(50, 50, 50);
    padding: 0.3em 1em;
    color: rgb(244, 244, 244) !important;
    /* margin-right: 16em; */
    text-align: right;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: opacity 0.2s ease, visibility 1s linear 0.2s;
    opacity: 0;
}

.button-title-delete {
    width: 8em;
    margin-right: 12.6em;
}

.button-title-createnew {
    width: 9.5em;
    margin-right: 14.6em;
}

.button-title-sendjob {
    width: 5.8em;
    margin-right: 10.6em;
}

.button-title-toggleanomalyreport {
    width: 11.2em;
    margin-right: 16.6em;
}

.minimenu-button:hover .button-title,
.minimenu-delete-button:hover .button-title {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 1s linear;
    z-index: 10;
}




/* ANOMALY REPORT */

.anomalyreport-teamleader {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 23em !important;
    width: 100%;
    background-color: #f6f6f6;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
    padding: 2em 3em;
    /* border-top: 2px solid black; */
}



/* CONTROL SHEET */

.controlsheet-teamleader-modalbody {
    border: 2px solid #00b3ff;
    padding: 4em 4em 4em 4em;
    background-color: white;
    width: 34em;

}

.controlsheet-modal-info-box {
    text-align: left !important;
}

.controlsheet-modal-info-box span {
    font-weight: 700;
    text-align: left !important;
}


/* table */
.controlsheet-table {
    width: 100%;
    border-collapse: collapse;
}

.controlsheet-table th,
.controlsheet-table td {
    padding: 6px;
    border: 1px solid #ddd;
    text-align: left;
    font-size: 0.9em;
}

.controlsheet-table th {
    background-color: #f7f7f7;
}



/* CHART */

.chart-teamleader-wrapper {
    background-color: rgb(243, 243, 243);
    border-radius: 10px;
    padding: 2.5em 2em 1.5em 2em;
    width: fit-content;
}

.custom-tooltip {
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 0.8em;
    border-radius: 5px;
}

.custom-tooltip p {
    margin: 1px 0;
}

.chart-container h6 {
    text-decoration: underline;
}

.chart-container select {
    /* background-color: rgb(255, 255, 255); */
    background-color: inherit;
    color: #333333;
    border-radius: 5px;
    border: 1px solid #d8d8d8;
    padding: 0.2em;
}



/* EDIT TEAM */

.editteam-teamleader-form label {
    margin-bottom: 0px;
}