/* main_teamleader css */


/* GENERAL - TEAMEADER */

.teamleader-wrapper {
    padding: 6em 0 6em 0;
    color: #323232;
}

.teamleader-wrapper .header {
    width: 85%;
}

.teamleader-wrapper .header h4 {
    font-weight: 700;
}

.teamleader-wrapper .header h5 {
    font-weight: 700;
}

.teamleader-wrapper .header p {
    font-size: 0.9em;
}

.title-img {
    width: 1em;
    margin-right: 0.4em;
    margin-top: -0.2em;
}



/* HOME */


/* loading bar */
.loading-bar-container {
    text-align: center;
    /* margin-top: 20em; */
    width: 30vh;
    height: 4px;
    background-color: #e0e0e0;
    margin-left: 30%;
}

.loading-bar {
    text-align: center;
    height: 100%;
    width: 10%;
    background-color: #00b3ff;
    transition: width 2s ease;
    animation: fillLoadingBar 2s linear;
}

.loading-bar-text {
    text-align: center;
    margin-top: 10em;
    width: 30vh;
    height: 4px;
    margin-left: 30%;
    padding-bottom: 3em;
}

@keyframes fillLoadingBar {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}



/* PREV WORK */

.prevwork-box-left {
    background-color: #f4f4f4;
    color: #868686 !important;
    padding: 1em 1em 0 1em;
    height: fit-content;
    border-radius: 7px;
    width: 30em;
}

.prevwork-box-mid {
    background-color: #f4f4f4;
    /* background-color: rgb(237, 237, 237); */
    /* border: 1px solid rgb(138, 138, 138); */
    padding: 1em 0.7em 0 0.5em;
    height: fit-content;
    align-items: center !important;
    border-radius: 7px;
}

.prevwork-box-right {
    background-color: rgb(237, 237, 237);
    padding: 1em 1em 1em 1em;
    height: fit-content;
    align-items: center !important;
    border-radius: 7px;
}

.prevwork-box-left,
.prevwork-box-mid,
.prevwork-box-right {
    font-size: 0.9em !important;
}

.prevwork-box-right:hover {
    background-color: #00b3ff;
    transition: 0.2s;
    cursor: pointer;
}




/* CURR WORK */
.currwork-box-left {
    background-color: rgb(237, 237, 237);
    color: #323232 !important;
    padding: 1em 1em 0 1em;
    height: fit-content;
    border-radius: 7px;
    width: 35em;
    font-size: 0.9em !important;
}

.currwork-box-right {
    background-color: rgb(237, 237, 237);
    padding: 1em 1em 1em 1em;
    height: fit-content;
    align-items: center !important;
    border-radius: 7px;
    font-size: 0.9em !important;
}

.currwork-box-left:hover,
.currwork-box-right:hover {
    background-color: #00b3ff;
    transition: 0.2s;
    cursor: pointer;
}

.type-img-currwork {
    width: 1.6em;
}



/* NEW PROJECT */
/* modal */
.modal-content {
    text-align: center;
}

.modal-footer {
    justify-content: center;
}

/* form */
.newproject-form input {
    width: 30em;
    height: 2.5em;
    padding: 0 0 0 0.5em;
    outline: none !important;
    box-shadow: none !important;
}

.work-type-button {
    padding: 1.2em 1.5em 0.5em 1.5em;
    margin: 0.5em 0.2em 0.5em 0;
    background-color: rgb(54, 54, 54);
    border: 1px solid rgb(189, 189, 189, 0);
    border-radius: 1px;
    transition: 0.2s;
    /* border: none; */
    cursor: pointer;
    color: white;
    outline: none !important;
    box-shadow: none !important;
}

.work-type-button:hover {
    border: 1px solid rgb(189, 189, 189, 0);
    background-color: #000000;
    /* border-radius: 7px; */
    color: white;
}

.selected-type {
    border: 1px solid rgb(189, 189, 189);
    background-color: #00b3ff !important;
    color: white;
    border-radius: 12px;
}

.type-img {
    width: 2em;
}




/* PORTAL */
.portal-title-img {
    width: 1.5em;
    margin-right: 0.4em;
    margin-top: -0.2em;
}

.portal-analytics {
    width: 10em;
}

.portal-analytics p {
    text-align: center;
    font-weight: 700;
    font-size: 0.9em;
}

.portal-analytics-number {
    background-color: #1d1d1d;
    border-radius: 50%;
    color: white;
    width: 4em;
    height: 4em;
    font-size: 1em;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.portal-team-box {
    background-color: rgb(237, 237, 237);
    color: #323232 !important;
    padding: 0.8em 1em 0 1em;
    height: fit-content;
    border-radius: 7px;
    width: 30em;
    font-size: 0.9em;
}

.portal-class-box {
    background-color: rgb(237, 237, 237);
    color: #323232 !important;
    padding: 0.8em 1em 0 1em;
    height: fit-content;
    border-radius: 7px;
    width: 25em;
    font-size: 0.9em;
}

.portal-edit-box,
.portal-delete-box {
    background-color: rgb(237, 237, 237);
    padding: 0.8em 1em 0 1em;
    border-radius: 7px;
    height: fit-content;
    width: fit-content;
    font-size: 0.9em;
}

.portal-edit-box:hover {
    background-color: #00b3ff;
    transition: 0.2s;
    cursor: pointer;
}

.portal-delete-box:hover {
    background-color: #ff6262;
    transition: 0.2s;
    cursor: pointer;
}



/* NEW TEAM  */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 15px;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
}

input[type=checkbox] {
    accent-color: #d6d6d6;
}




/* CALENDAR SALE */

.calendarsale-hero-img {
    height: 10em;
    width: 100% !important;
    object-fit: cover;
}