.sidemenu-teamleader {
    position: fixed;
    top: 0;
    left: 0;
    width: 7em;
    height: 100vh;
    background-color: #00b3ff !important;
    color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: auto;
}

.sidemenu-teamleader .link-box a {
    /* text-decoration: none; */
    color: white;
    transition: 0.2s ease;
}